run = "npm install --prefix backend && npm start --prefix backend"
entrypoint = "backend/index.js"

[nix]
channel = "stable-22_11"

[deployment]
run = ["sh", "-c", "npm start"]

[languages]

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"

[languages.javascript.languageServer]
start = "typescript-language-server --stdio"